<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="styleseet" href="/css/styles.css"
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="./images/logo-mercado-liebre.svg"width="50%">
        <p>
            Lugar para poner la barra de busqueda
        </p>
        <p>
            Comprá en cuotas y sin tarjeta de crédito
        </p>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a> </li>
                <li><a href="#">Tiendas Oficiales</a> </li>
                <li><a href="#">Vender</a> </li>
                <li><a href="#">Ayuda</a> </li>
            </ul>
            <ul>
                <li><a href="#">Crea tu cuenta</a> </li>
                <li><a href="#">Ingresa</a> </li>
                <li><a href="#">Mis Compras</a> </li>            
            </ul>
        </nav>
    </header>
<main>
    <h3>Basado en tu última visita</h3>
    <section>
        <article>
            <img src="./images/img-cafetera-moulinex.jpg" alt=""width="25%">
            <p>$6700</p>
            <p>40% Off</p>
            <p><b>Cafetera Moulinex</b></p>
        </article>
    </section>
    <article>
        <img src="./images/img-macbook-pro-2019.jpg" alt=""width="25%">
        <li>$230.000</li>
        <li>20% off</li>
        <li><b>MacBook Pro 2019</b></li>
    </article>
    <article>
        <img src="./images/img-samsung-galaxy-s10.jpg" alt=""width="25%">
        <li>$70.500</li>
        <li>10% off</li>
        <li><b>Samsung Galaxy S10</b></li>
   </article>
   <article>
        <img src="./images/img-tv-samsung-smart.jpg" alt=""width="25%">
        <li>$23.200</li>
        <li>5% off</li>
        <li><b>SmartTv Samsung 43"</b></li>
    </article>

    <h3>Sección de Ofertas</h3>
    <section>
        <article>
            <img src="./images/img-cafetera-moulinex.jpg" alt=""width="25%">
            <p>$6700</p>
            <p>40% Off</p>
            <p><b>Cafetera Moulinex</b></p>
        </article>
    </section>
    <article>
        <img src="./images/img-macbook-pro-2019.jpg" alt=""width="25%">
        <li>$230.000</li>
        <li>20% off</li>
        <li><b>MacBook Pro 2019</b></li>
    </article>
    <article>
        <img src="./images/img-samsung-galaxy-s10.jpg" alt=""width="25%">
        <li>$70.500</li>
        <li>10% off</li>
        <li><b>Samsung Galaxy S10</b></li>
   </article>
   <article>
        <img src="./images/img-tv-samsung-smart.jpg" alt=""width="25%">
        <li>$23.200</li>
        <li>5% off</li>
        <li><b>SmartTv Samsung 43"</b></li>
    </article>
</main>
</body>
<footer class="fondo">
    <ul type="none">
        <li><b>Paga con tarjeta o en efectivo</b></li>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>
        <li><b>Envío gratis desde $ 2.500</b></li>
        <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </p>
        <li><b>Seguridad, de principio a fin</b></li>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
        </p>
        <li>Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</li>
    </ul>
</footer>
</html>
