<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="./images/logo-mercado-liebre.svg"width="50%">
       
       <p>Lugar para poner la barra de busqueda </p> 
      
        <p class="center">
            <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
        </p>
        <nav>
            <ul class="margen" type="none">
                <li><a href="#">Ofertas</a> </li>
                <li><a href="#">Tiendas Oficiales</a> </li>
                <li><a href="#">Vender</a> </li>
                <li><a href="#">Ayuda</a> </li>
            </ul>

            <ul class="margen" type="none">
                <li><a href="#">Crea tu cuenta</a><i class="far fa-id-card"></i> </li>
                <li><a href="#">Ingresa</a><i class="fas fa-sign-in-alt"></i> </li>
                <li><a href="#">Mis Compras</a><i class="fas fa-shopping-basket"></i> </li>            
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
<main>
    <h3 class="titulares, margen">Basado en tu última visita</h3>
    <section>
        <article>
            <img src="./images/img-cafetera-moulinex.jpg" alt=""width="25%">
            <p class="precios">$6700</p>
            <p class="descuentos"> 40% Off</p>
            <p class="descripciones"><b>Cafetera Moulinex</b></p>
        </article>
    </section>
    <article>
        <img src="./images/img-macbook-pro-2019.jpg" alt=""width="25%">
        <p class="precios">$230.000</p>
        <p class="descuentos">20% off</p>
        <p class="descripciones"><b>MacBook Pro 2019</b></p>
    </article>
    <article>
        <img src="./images/img-samsung-galaxy-s10.jpg" alt=""width="25%">
        <p class="precios">$70.500</p>
        <p class="descuentos">10% off</p>
        <p class="descripciones"><b>Samsung Galaxy S10</b></li>
   </article>
   <article>
        <img src="./images/img-tv-samsung-smart.jpg" alt=""width="25%">
        <p class="precios">$23.200</p>
        <p class="descuentos">5% off</p>
        <p class="descripciones"><b>SmartTv Samsung 43"</b></p>
    </article>

    <h3 class="titulares, margen"> Sección de Ofertas</h3>
    <section>
        <article>
            <img src="./images/img-cafetera-moulinex.jpg" alt=""width="25%">
            <p class="precios">$6700</p>
            <p class="descuentos">40% Off</p>
            <p class="descripciones"><b>Cafetera Moulinex</b></p>
        </article>
    </section>
    <article>
        <img src="./images/img-macbook-pro-2019.jpg" alt=""width="25%">
        <p class="precios">$230.000</p>
        <p class="descuentos">20% off</p>
        <p class="descripciones"><b>MacBook Pro 2019</b></p>
    </article>
    <article>
        <img src="./images/img-samsung-galaxy-s10.jpg" alt=""width="25%">
        <p class="precios">$70.500</p>
        <p class="descuentos">10% off</p>
        <p class="descripciones"><b>Samsung Galaxy S10</b></p>
   </article>
   <article>
        <img src="./images/img-tv-samsung-smart.jpg" alt=""width="25%">
        <p class="precios">$23.200</p>
        <p class="descuentos">5% off</p>
        <p class="descripciones"><b>SmartTv Samsung 43"</b></p>
    </article>
</main>
</body>
<footer>
    <ul type="none">
        <li class="iconos, margen2"><i class="far fa-credit-card"></i> </li>
        <li><b>Paga con tarjeta o en efectivo</b></li>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>
        <li class="iconos"><i class="fas fa-gift"></i> </li>
        <li><b>Envío gratis desde $ 2.500</b></li>
        <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </p>
        <li class="iconos"><i class="fas fa-user-shield"></i> </li>
        <li><b>Seguridad, de principio a fin</b></li>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
        </p>
        <li>Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</li>
    </ul>
</footer>
</html>
